@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF7E4;
    font-size: 14px;
}

h1 {}

hr {
    border-color: #9A9A9A;
}

#name {
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    font-size: 80px;
    color: #DB1C00;
}

#header {
    font-size: 20px;
    color: white;
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #CCC6A6;
}

#about {
    font-size: 20px;
}

#phrase {
    color: #DB1C00;
}