@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
body {
    font-family: 'Roboto', sans-serif;
    background-color: #111a24;
    font-size: 14px;
    color: #FFFFFF
}

h1 {}

a {
  color: #DB1C01;
}

a.red {
  color: #DB1C01;
}

.container {
  padding: 50px;
}

hr {
    border-color: #9A9A9A;
}

#name {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    color: #DB1C00;
}

#header {
    font-size: 25px;
    color: white;
    padding-top: 70px;
    padding-bottom: 30px;
    background: url("../img/rain_mod.gif") no-repeat center center fixed;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#about {
    font-size: 20px;
}

#phrase {
    color: #DB1C00;
}
